<div
        class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
>
    <div class="max-w-full overflow-x-auto">
        <table class="w-full table-auto">
            <thead>
            <tr class="bg-gray-2 text-left dark:bg-meta-4">
                <th
                        class="min-w-[220px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
                >
                    Name
                </th>
                <th
                        class="min-w-[150px] px-4 py-4 font-medium text-black dark:text-white"
                >
                    Date
                </th>
                <th
                        class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white"
                >
                    Schedule Active
                </th>
                <th class="px-4 py-4 font-medium text-black dark:text-white">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
            <tr>
                <td
                        class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
                >
                    <h5 class="font-medium text-black dark:text-white">{{group.name}}</h5>
                    <p class="text-sm">$0.00</p>
                </td>
                <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                    <p class="text-black dark:text-white"> ? </p>
                </td>
                <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                    <p
                            class="inline-flex rounded-full bg-danger bg-opacity-10 px-3 py-1 text-sm font-medium text-danger"
                    >
                        No
                    </p>
                </td>
                <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                    <div class="flex items-center space-x-3.5">
                        <button class="hover:text-primary">

                        </button>
                        <a

                                href="{% url 'stats_calculator-group' group_id=group.id %}"
                        >
                            <i class="fa-solid fa-magnifying-glass-chart fa-2xl fa-fade" style="--fa-animation-duration: 2s;"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
