{% extends 'MyVintedWizard/base.html' %}
{% load static %}
{% block content %}

<section class="bg-gray-900 text-black mb-80 dark:text-white">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <div class="mx-auto max-w-lg text-center">
            <h2 class="text-3xl font-bold sm:text-4xl">Go further with e-commerce</h2>

            <p class="mt-4 text-gray-300">
                Analyze the market, notify good deals.
            </p>
        </div>

        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">

            {% include 'MyVintedWizard/components/index-item.html' with name="Stats"
            description="Get stats on your groups"
            url="stats_calculator-index"
            iclass="fa-solid fa-chart-line fa-2xl" %}

            {% include 'MyVintedWizard/components/index-item.html' with name="Schedule"
            description="Schedule scrap on different groups"
            url="scheduler-index"
            iclass="fa-regular fa-clock fa-2xl" %}

            {% include 'MyVintedWizard/components/index-item-outurl.html' with name="Discord notifications"
            description="The discord server to see notifications"
            url="https://discord.com/channels/1216318846986620968/"
            iclass="fa-brands fa-discord fa-2xl" %}

            {% include 'MyVintedWizard/components/index-item-outurl.html' with name="Google Sheet"
            description="The sheet with the sells recap"
            url="https://docs.google.com/spreadsheets/d/12Wzz-c5qGBooU5RMi2ou_IE8NUURpAJudVHeuQ7bPVE/edit#gid=0"
            iclass="fa-solid fa-table-cells fa-2xl" %}

            {% include 'MyVintedWizard/components/index-item-outurl.html' with name="Mise en ligne"
            description=""
            url="https://docs.google.com/forms/d/e/1FAIpQLSfvd78leBsjW-yGPDddEsjAwlmucxvdJWpeFN_TTkiJOpg9lQ/viewform"
            iclass="fa-brands fa-wpforms fa-2xl" %}

            {% include 'MyVintedWizard/components/index-item-outurl.html' with name="Depense"
            description=""
            url="https://docs.google.com/forms/d/e/1FAIpQLScU-JrSoWq534qkdjKB8YqeXB2yExujQDm2HKnL5sZjprtAiw/viewform"
            iclass="fa-brands fa-wpforms fa-2xl" %}
            {% include 'MyVintedWizard/components/index-item-outurl.html' with name="Database web site"
            description=""
            url="https://cockroachlabs.cloud/cluster/f0efb582-7705-411d-a8ba-da48e9fbd3e1/overview"
            iclass="fa-solid fa-database fa-2xl" %}


        </div>


    </div>

</section>


{% endblock %}
