{% load static %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Admin</div>
                <a class="nav-link" href="{% url 'admin:index' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Admin
                </a>
            </div>
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Filter</div>
                <a class="nav-link" href="{% url 'filters_manager-index' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Filters Manager
                </a>
            </div>
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Stats</div>
                <a class="nav-link" href="{% url 'stats_calculator-index' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Show stats
                </a>
            </div>
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Stats</div>
                <a class="nav-link" href="{% url 'scheduler-index' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Schedule tasks
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>