{% load static %}
<a
        class="block rounded-xl bg-success border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
        hx-post="{% url 'scheduler-stop_launch'  %}"
        hx-swap="outerHTML"
        href=""
>
    <i class="fa-regular fa-hand fa-3x"></i>

    <h2 class="mt-4 text-xl font-bold">Stop Scheduled</h2>

    <p class="mt-1 text-sm text-gray-300">
        Scheduled tasks are running <i class="fa-solid fa-cog fa-spin"></i>
    </p>

</a>