{% for value, name, date in graphs.values %}
{% with forloop.counter as counter %}


<div class="col-xl-6">
    <div class="card mb-4 ">
        <div class="card-header">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#graph_table{{ counter }}" role="button"
               aria-expanded="false"
               aria-controls="graph_table">
                {{name}}
            </a>
        </div>
        <div id="graph_table{{ counter }}" class="accordion-body show in">

            <div class="anti-shrink">
                {% autoescape off %}
                {{ value|safe }}
                {% endautoescape %}
            </div>

        </div>
        <div class="card-footer small text-muted">Last update : {{ date }}</div>
    </div>
</div>
{% endwith %}
{% endfor %}